<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <title>TodoApp</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <i class="fa fa-check-circle">
                Todolist
            </i>
        </a>
    </nav>

    <div class="container">
        <row>
            <h1 class="text-center">Enter todo item</h1>
            <form class="col-6 mx-auto" method="POST" action="/newtodo">
                <div class="input-group">
                    <input type="text" class="form-control" name="item" placeholder="Enter todo item"><span> <button
                            type="submit" class="btn btn-primary">Submit</button></span>
                </div>
            </form>
        </row>

        <div class="row">
            <ul class="col-6 mx-auto">
                <% for( let i = 0; i < todolist.length; i++ ){ %>
                <li class="my-2">
                    <span class=<%= todolist[i].done ? "done" : "" %>> <%= todolist[i].name %></span>
                    <div class="form mx-1">
                        <form method="POST" action="/newtodo/<%= todolist[i]._id %>/comleted">
                            <button type="submit">Done</button>
                        </form>
                    </div>
                    <div class="form">
                        <form method="POST" action="/newtodo/<%= todolist[i]._id %>/delete">
                            <button type="submit">Delete</button>
                        </form>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</body>

</html>
